/* semantic html styles */
body{
    font-family:'Roboto', sans-serif;
    background-color:var(--background-color);
    margin: 112px 80px 80px 112px;
}
h1,h2,h3,h4,h5,h6{
    font-family:'Poppins',sans-serif;
}
h1{
    color:var(--header1);
    font-size:64px;
    font-weight:400;
}
h2{
    color:var(--darkgreen);
    font-size:50px;
    font-weight:600;
}
h3{
    color:var(--darkblue);
    font-size:32px;
    font-weight:600;
    grid-column:span
}
p{
    color:var(--darkblue);
    line-height:200%;
}
a{
    color:var(--blue);
}
.sectionParagraph{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr;
}
.paragraph{
    grid-column:2/span 4;
    grid-row:2;
}
.sectionParagraph h3{
    grid-row: 1;
    grid-column:2 / span 2;
}
/* Buttons */
button{
    height:56px;
    width:280px;
    border-radius:20px;
    font-size:20px;
    font-weight:600;
    color:white;
    border:none;
    background-color:var(--brightblue);
}
.buttons{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:32px;
}
    /* Primary Buttons */
    #primaryHover{
        background:var(--blue);
    }
    .Focus{
        background:var(--blue);
        outline:2px dashed white;
        outline-offset:-12px;
        border-radius:20px;
    }
    #primaryActive{
        background-color:var(--mint);
        color:var(--darkblue);
    }
    #primaryDisabled{
        background-color:var(--disabled);
    }
    .buttons{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:32px;
    }
    /* secondary button IDs */
    .secondary{
        border:4px solid;
        background-color:var(--background-color); 
        color:var(--darkblue);
    }
    #norm{
        border-color: var(--brightblue);
    }
    #hover{
        border-color: var(--blue);
    }
    #active{
        border-color: var(--mint);
    }
    #disabled{
        border-color: var(--disabled);
    }
/* Header */
.header{
    display:grid;
    grid-column:1fr 1fr 1fr;
    grid-gap:32px;
}
.title{
    grid-column:2 / span 2;
    font-size:64px;
}
#Layer_1{
    width:176px;
}
/* Styles for the Colors Section */
    .colors{
        display:grid;
        grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows:1fr 1fr;
        grid-gap:32px;
    }
    .colors h3{
        grid-column:span 3;
    }
    .colorBoxDark{
        color:white;
        font-weight:500;
        text-align:center;
        padding-top:25%;
        padding-bottom:25%;
        border-radius:20px
    }
    .colorBoxLight{
        color:var(--darkblue);
        font-weight:500;
        text-align:center;
        padding-top:25%;
        padding-bottom:25%;
        border-radius:20px
    }
    #mainBlue{
        background-color:var(--blue);
        padding-top:40%;
        grid-column:1 / span 2;
    }
    #mainMint{
        background-color:var(--mint);
        padding-top:40%;
        grid-column:3 / span 2;
    }
    #secondaryColors{
        grid-column:5 / span 1;
        display:grid;
        grid-template-columns:1fr 1fr 1fr;
        grid-gap:32px;
        padding:2px;
        font-size:12px;
    }
    #blueText{
        background-color:var(--darkblue);
    }
    #darkGreen{
        background-color:var(--darkgreen);
    }
    #header1Color{
        background-color:var(--header1);
    }
    #backgroundColor{
        border: 1px solid darkgrey;
    }
    #disabledColor{
        background-color:var(--disabled);
    }
    #nameColor{
        background-color:var(--name);
    }
    #primaryBlueButton{
        background-color:var(--brightblue);
    }
/* Variants */
:root{
    --background-color:#F5FDFF;
    --blue:#0B4DAD;
    --brightblue:#106BF0;
    --mint:#5AC0B1;
    --darkgreen:#3A887C;
    --darkblue:#001D34;
    --disabled:#8E9A98;
    --header1:#38485E;
    --name:#5F9D94;
}
/* Typography */
.typography{
    font-size:72px;
}
.typefaces{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr 1fr;
    grid-gap:32px;
}
.typedescription{
    grid-row:2/span 1;
}
/* Menu */
menu{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
h5{
    color:var(--name);
    font-family:'Poppins',sans-serif;
    font-size:32px;
    font-weight:600;
}
h6{
    color:var(--blue);
    font-size:16px;
    font-weight:500px;
    margin:10%;
}
/* Footer */
footer{
    background-color:var(--mint);
    padding: 42px;
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-row-gap:32px;
    color:var(--darkblue)
}
h7{
    font-size:24px;
    font-weight:600px;
    margin-bottom:24px;
}
h8{
    font-size:16px;
    font-weight:400;
}
.socialMedia{
    width: 29px;
    margin:4px;
}
.columns{
    width=1216px;
}
textarea {
    max-height:400px;
    resize:none;
    margin-bottom:12x;
}
form input{
    margin-bottom:12px;
}
form{
    display:flex;
    flex-direction:column;
    margin-right:32px;
}
input[type="submit"] {
    height:40px;
    width:112px;
    border-radius:12px;
    font-size:12px;
    font-weight:600;
    color:white;
    border:none;
    background-color:var(--brightblue);
    margin-top:12px;
}